@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";

  --color-orange-50: #fce9e6;
  --color-orange-100: #ffcdba;
  --color-orange-200: #ffac8e;
  --color-orange-300: #ff8c60;
  --color-orange-400: #ff733c;
  --color-orange-500: #ff5b15;
  --color-orange-600: #f45510;
  --color-orange-700: #e64e0a;
  --color-orange-800: #d84706;
  --color-orange-900: #c03900;

  --color-green-50: #e7f7ea;
  --color-green-100: #c6ebcb;
  --color-green-200: #a1dfaa;
  --color-green-300: #78d387;
  --color-green-400: #57c86c;
  --color-green-500: #32be50;
  --color-green-600: #28ae47;
  --color-green-700: #199c3b;
  --color-green-800: #058b30;
  --color-green-900: #006b1a;

  --color-gray-50: #f9f9f9;
  --color-gray-100: #f2f2f2;
  --color-gray-200: #e9e9e9;
  --color-gray-300: #d9d9d9;
  --color-gray-400: #b6b6b6;
  --color-gray-500: #969696;
  --color-gray-600: #6d6d6d;
  --color-gray-700: #5a5a5a;
  --color-gray-800: #3b3b3b;
  --color-gray-900: #1b1b1b;

  --color-black: #1b1b1b;
  --color-slateblue: #5a698c;
}

@theme inline {
  --font-roboto: var(--font-roboto);
  --font-oswald: var(--font-oswald);
}

@custom-variant aria-current (&[aria-current="page"]);

body {
  background: var(--background);
  color: var(--foreground);
}
