@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --color-orange-500: #ff733c;
  /* ... */
}

@theme inline {
  --font-roboto: var(--font-roboto);
  --font-oswald: var(--font-oswald);
}

@custom-variant aria-current (&[aria-current="page"]);

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
